﻿

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MbmStore Admnistration</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Music" asp-action="Index">Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Book" asp-action="Index">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Movie" asp-action="Index">Movies</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    @RenderBody()
</div>