﻿
@using MbmStore.Models;
@addTagHelper"*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Index";
}


<div id="invoices">

    <h1>Invoices</h1>

    <div id="sorting">
        <form method="post" asp-controller="Invoice" asp-action="index">
            <div>
                <select name="customer" id="customer" asp-items="@ViewBag.Customers as List<SelectListItem>"></select>
                <button type="submit">Show invoices</button>
            </div>
        </form>
    </div>
    <div id="invoicegrid">

        <div class="thead">Customer</div>
        <div class="item">
            <div class="thead">Products</div>
            <div class="thead">Price</div>
        </div>

        @foreach (Invoice inv in ViewBag.Invoices)
        {

            <div class="customer">
                @inv.Customer.Firstname   @inv.Customer.Lastname
                <br>  @inv.Customer.Address
                <br>  @inv.Customer.Zip  @inv.Customer.City
            </div>

            <div class="item">


                @foreach (OrderItem items in inv.OrderItems)
                {

                    <div>@items.Product.Title (@items.Product.ToString().Split(".")[2])</div>
                    <div class="price">@items.Product.Price</div>

                }


                <div><b>Total price:</b></div>
                <div class="price"><b> @inv.GetTotalPrice()</b></div>


            </div>
        }


    </div>

</div>