﻿@model IEnumerable<string>
<div id="category-menu">



    <a class="btn"
       asp-action="Index"
       asp-controller="Catalogue"
       asp-route-category="">
        All products
    </a>
    @foreach (string category in Model)
    {
        <a class="btn  @(category == ViewBag.SelectedCategory ? "selected": "not-selected")"
           asp-action="Index"
           asp-controller="Catalogue" asp-route-category="@category"
           asp-route-page="1">
            @category
        </a>
    }

</div>