﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Movies";
}

<h2>Index</h2>

<a asp-controller="Home" asp-action="Index">Home</a>

@foreach (MbmStore.Models.Movie book in ViewBag.Books)
{

    <h2>@book.Title</h2>
    <p>Price: @String.Format("{0:0.00}", book.Price)</p>
    <p><img src="/Images/@book.ImageFileName" alt="@book.Title" /></p>

}

