﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<h2>Index</h2>

<ul>
    <li>
        Katalog:
        <a asp-controller="Catalogue" asp-action="Index">Catalogue</a>
    </li>

    <li>
        Invoices:
        <a asp-controller="Invoice" asp-action="Index">Invoices</a>
    </li>

   
</ul>