﻿@model MbmStore.Models.Product
@using MbmStore.Infrastructure


<div>

    <form id="@Model.ProductId" asp-action="AddToCart" asp-controller="Cart" method="post">
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="addtocard">
            <span>Quantity:</span>
            <select name="qty" id="qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <button type="submit">
                Add To Cart
            </button>
        </span>
    </form>
</div>