﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="/css/styles.css" />
</head>
<body>

    <div id="wrapper">
        <div id="topbar"><h1><a asp-action="Index" asp-controller="Catalogue" asp-route-category="">The very awesome MBM shop</a></h1> <span>Jesper Kragh | Backend progammering | oct 2020</span></div>
        <div id="menu">
            <div class="cart-summary"> @await Component.InvokeAsync("CartSummary") </div>
        </div>


        <div id="content">
            <div class="leftcol">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div>
                @RenderBody()
            </div>
        </div>


    </div>
    <a class="invoicelink" asp-controller="Invoice" asp-action="Index">Invoices</a>

</body>
</html>
