﻿@model MbmStore.Models.Movie
@using MbmStore.Models;

<div class="product">

    <img src="/Images/@Model.ImageFileName" alt="@Model.Title" />
    <h3>@Model.Title</h3>
    <h4>By: @Model.Director</h4>
    <p>Price: @String.Format("{0:0.00}", Model.Price)</p>
    <div class="clear"></div>


    @await Html.PartialAsync("_AddToCartButton", (Product)Model)
</div>
