﻿@model MbmStore.Models.MusicCD
@using MbmStore.Models;


<div class="product">


    <div>
        <img src="/Images/@Model.ImageFileName" alt="@Model.Title" />

        <h3>@Model.Title</h3>
        <h4>By: @Model.Artist</h4>
        <p><b>Released:</b> @Model.Released</p>
        <p><b>Label:</b> @Model.Label</p>
        <p><b>Price:</b> @String.Format("{0:0.00}", Model.Price)</p>

    </div>
    <div class="clear"></div>
    <b>Tracks:</b>
    <ol>

        @foreach (Track track in @Model.Tracks)
        {
            <li>
                @track.Title (@track.Composer)
                @track.Length.ToString()
            </li>

        }
    </ol>
    <p><b>Total playtime: @Model.TotalPlayingTime()</b></p>


    @await Html.PartialAsync("_AddToCartButton", (Product)Model)
</div>