﻿@model MbmStore.Models.Book
@using MbmStore.Models;


<div class="product">

    <img src="/Images/@Model.ImageFileName" alt="@Model.Title" />
    <h3>@Model.Title</h3>
    <h4>By: @Model.Author</h4>
    <p><b>Publisher:</b> @Model.Publisher</p>
    <p>Price: @String.Format("{0:0.00}", Model.Price)</p>
    <div class="clear"></div>

    @await Html.PartialAsync("_AddToCartButton", (Product)Model)
</div>


