﻿@model ProductsListViewModel;

@using MbmStore.Models;



<h1>Catalogue</h1>

<div id="catalogue">

    @if (Model.Products.OfType<Book>().ToList().Count > 0)
    {

        <div id="books">
            <h2>Books</h2>

            <div class="list">

                @foreach (Book book in Model.Products.OfType<Book>().ToList())
                {

                    @await Html.PartialAsync("_ProductSummaryBook", book)
                }

            </div>


        </div>

    }

    @if (Model.Products.OfType<MusicCD>().ToList().Count > 0)
    {

        <div id="music">
            <h2>Music</h2>

            <div class="list">


                @foreach (MusicCD cd in Model.Products.OfType<MusicCD>().ToList())
                {
                    @await Html.PartialAsync("_ProductSummaryMusicCD", cd)
                }

            </div>



        </div>

    }

    @if (Model.Products.OfType<Movie>().ToList().Count > 0)
    {


        <div id="movies">
            <h2>Movies</h2>

            <div class="list">

                @foreach (Movie mov in Model.Products.OfType<Movie>().ToList())
                {
                    @await Html.PartialAsync("_ProductSummaryMovie", mov)
                }

            </div>


        </div>
    }


      <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="not-selected" page-class-selected="selected" page-url-category="@Model.CurrentCategory"
         class="paging-btns">
    </div>

</div>

