﻿
* {
    --maincolor: #ff6a00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin-top: 0.4em;
}

#wrapper {
    width: 1000px;
    background: #eee;
    margin: 0 auto;
}

#content {
    padding: 20px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: "left right";
    grid-gap: 40px;
}

.leftcol {
    grid-area: left;
    border-right: #ccc dotted 1px;
    padding-right: 20px;
}

#topbar {
    color: #999;
    background: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #topbar h1 {
        margin: 0;
        font-variant: small-caps;
    }

        #topbar h1 a {
            color: var(--maincolor);
            text-decoration: none;
        }

#menu {
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
}

    #menu a {
        color: var(--maincolor);
        font-weight: bold;
        margin: 0 20px;
    }

    #menu .cart-summary {
        color: #fff;
    }

.invoicelink {
    position: absolute;
    right: 20px;
    top: 20px;
}

#catalogue {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
}



.paging-btns .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
}

    .paging-btns .btn.selected {
        background: var(--maincolor);
        color: #fff;
    }

.list {
    margin: 30px 0;
}

.product {
    display: block;
    margin: 0 0 40px 0;
    border-bottom: 1px #ddd solid;
    position: relative;
}

.product, .clear {
    clear: both;
}

    .product img {
        width: 200px;
        float: left;
        margin: 0 20px 20px 0;
    }

    .product ol {
        clear: both;
        padding-left: 1em;
    }

    .product .addtocard {
        display: flex;
        margin-bottom: 20px;
        width: 100%;
        justify-content: flex-end;
    }

        .product .addtocard select {
            margin: 0 20px 0 10px;
        }

        .product .addtocard button {
            background: #009900;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
        }



#invoices {
    /*margin: 0 20%;*/
}

    #invoices #sorting {
        margin-bottom: 30px;
    }

#invoicegrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

    #invoicegrid .thead {
        font-weight: bold;
    }

    #invoicegrid .price {
        text-align: right;
    }

    #invoicegrid .item {
        display: grid;
        grid-template-columns: 1fr auto;
    }

table.cart {
    width: 100%;
}

    table.cart td, table.cart th {
        text-align: left;
    }

    table.cart .text-center {
        text-align: center;
    }

    table.cart .text-right {
        text-align: right;
    }


#category-menu .btn {
    display: block;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

#category-menu .selected {
    background: var(--maincolor);
    color: #fff;
}